original/
m_ff/interpolation/tricube_fortran/*.c

# numpy saved arrays
*.npy

# Pycharm
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# OS X files
.DS_Store


test/build_mixed_fe_database\.ipynb

test/CasADi_vs_Theano_vs_Python_vs_Chython\.ipynb

test/CasADi_vs_Theano\.ipynb

test/data/3HCP_300/combined_model_200_tr_120n3body_grid_2b_num_200\.npz

test/data/3HCP_300/combined_model_200_tr_120n3body_grid_3b_num_120\.npz

test/data/3HCP_300/combined_model_200_tr_120n3body\.json

test/data/3HCP_300/movie\.xyz

test/data/Au/13_1/movie\.xyz

test/data/Au/13_2/movie\.xyz

test/data/Au/147/movie\.xyz

test/data/Au/20_1/movie\.xyz

test/data/Au/20_2/movie\.xyz

test/data/Au/28_1/movie\.xyz

test/data/Au/28_2/movie\.xyz

test/data/Au/32_1/movie\.xyz

test/data/Au/32_2/movie\.xyz

test/data/Au/32_3/movie\.xyz

test/data/Au/32_4/movie\.xyz

test/data/Au/55/movie\.xyz

test/data/BIP_300/combined_model_200_tr_120n3body_grid_2b_num_200\.npz

test/data/BIP_300/combined_model_200_tr_120n3body_grid_3b_num_120\.npz

test/data/BIP_300/combined_model_200_tr_120n3body\.json

test/data/BIP_300/energy\.dat

test/data/BIP_300/movie_energy\.xyz

test/data/BIP_300/Ni19_2body_100tr_grid_num_200\.npz

test/data/BIP_300/Ni19_2body_100tr\.json

test/data/BIP_300/Ni19_2body_500tr_grid_num_200\.npz

test/data/BIP_300/Ni19_2body_500tr\.json

test/data/BIP_300/Ni19_combined_100tr_grid_2b_num_200\.npz

test/data/BIP_300/Ni19_combined_100tr_grid_3b_num_30\.npz

test/data/BIP_300/Ni19_combined_100tr\.json

test/data/C_a/movie\.xyz

test/data/C_a/test\.json

test/data/Cu_LJ/1500K/input\.txt

test/data/Cu_LJ/1500K/mdlog\.txt

test/data/Cu_LJ/1500K/traj\.xyz

test/data/Cu_LJ/500K/input\.txt

test/data/Cu_LJ/500K/mdlog\.txt

test/data/Cu_LJ/500K/traj\.xyz

test/data/Fe_grain_001/dft_all_snapshots\.xyz

test/data/Fe_mixed_no_fracture/combined_model_500_tr_2n3body_grid_2b_num_200\.npz

test/data/Fe_mixed_no_fracture/combined_model_500_tr_2n3body_grid_3b_num_2\.npz

test/data/Fe_mixed_no_fracture/combined_model_500_tr_2n3body\.json

test/data/Fe_mixed_no_fracture/combined_model_500_tr_80n3body_gp_ker_2_ntr_500\.npy\.npz

test/data/Fe_mixed_no_fracture/combined_model_500_tr_80n3body_grid_2b_num_200\.npz

test/data/Fe_mixed_no_fracture/combined_model_500_tr_80n3body\.json

test/data/Fe_vac/movie\.xyz

test/data/Fe_various/0015313120\.xyz

test/data/Fe_various/111000211\.xyz

test/data/Fe_various/Create_mixed_database\.ipynb

test/data/Fe_various/gamma_database\.xyz

test/data/Fe_various/low_energy_phonon\.xyz

test/data/Fe_various/screw_database\.xyz

test/data/Fe_various/twinning_db\.xyz

test/data/HNi/movie\.xyz

test/data/Ni_19_energies/energy\.dat

test/data/Ni_19_energies/movie_energy\.xyz

test/data/Ni_19_energies/sampling_10_ntr_1\.json

test/data/Ni_19_energies/sampling_10_ntr_2\.json

test/data/Ni_19_energies/sampling_10_ntr_3\.json

test/data/Ni_19_energies/sampling_10_ntr\.json

test/data/Ni_19_energies/sampling_100_ntr_1\.json

test/data/Ni_19_energies/sampling_100_ntr_2\.json

test/data/Ni_19_energies/sampling_100_ntr_3\.json

test/data/Ni_19_energies/sampling_100_ntr\.json

test/data/Ni_19_energies/sampling_200_ntr_1\.json

test/data/Ni_19_energies/sampling_200_ntr_2\.json

test/data/Ni_19_energies/sampling_200_ntr_3\.json

test/data/Ni_19_energies/sampling_200_ntr\.json

test/data/Ni_19_energies/sampling_50_ntr_1\.json

test/data/Ni_19_energies/sampling_50_ntr_2\.json

test/data/Ni_19_energies/sampling_50_ntr_3\.json

test/data/Ni_19_energies/sampling_50_ntr\.json

test/data/Ni_19/DIH/combined_model_200_tr_120n3body_grid_2b_num_200\.npz

test/data/Ni_19/DIH/combined_model_200_tr_120n3body_grid_3b_num_120\.npz

test/data/Ni_19/DIH/combined_model_200_tr_120n3body\.json

test/data/Ni_19/DIH/combined_model_200_tr_80n3body_grid_2b_num_200\.npz

test/data/Ni_19/DIH/combined_model_200_tr_80n3body_grid_3b_num_80\.npz

test/data/Ni_19/DIH/combined_model_200_tr_80n3body\.json

test/data/Ni_19/DIH/movie\.xyz

test/data/Ni_19/movie_all\.xyz

test/data/Si_DFT/bulk/phonons_2\.xyz

test/data/Si_DFT/bulk/phonons_cell=1_mov=14\.xyz

test/data/Si_DFT/bulk/phonons_cell=2_mov=30\.xyz

test/data/Si_DFT/silicene/Energy\.dat

test/data/Si_DFT/silicene/movie\.xyz

test/data/Si_SW_2D/movie\.xyz

test/data/ZrO2/test/test_cubic\.xyz

test/data/ZrO2/test/test_monoclinic\.xyz

test/data/ZrO2/test/test_tetragonal\.xyz

test/data/ZrO2/train/example_model\.json

test/data/ZrO2/train/train\.xyz

test/Debug_Remapping\.ipynb

test/Energy_fit_test\.ipynb

test/Importance_vector_sampling\.ipynb

test/Learning_energies_and_forces\.ipynb

test/new_sampling\.ipynb

test/open_json_sampling\.ipynb

test/Phonons_withMFF_Fe\.ipynb

test/Phonons_withMFF_Ni19\.ipynb

test/Phonons_withMFF_Si\.ipynb

test/RVM_nickel_sampling\.ipynb

test/rvm_test\.py

test/Test_dynamics_Ni_19\.ipynb

test/test_Fe_vac_model_new\.ipynb

test/test_full_HNi\.ipynb

test/test_full_ZrO2_model\.ipynb

test/Test_mapped_potential\.ipynb

test/test_Si_2D\.ipynb

test/theano_2body_ee_kernel_test\.ipynb
